:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.profile-picture img{
  width: 200px;
}

.btnContainer{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.emailbtn{
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
}

.linkedIn{
  background-color: #0077B5;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
}

.profle-info ul{
  list-style: none;
   display: flex;
   justify-content: center;
   flex-direction: column;
    align-items: center;
    padding: 0;
}
.name{
  font-size: 30px;
  font-weight: 600;
}
.position{
  font-size: 15px;
  color: #a12e2e91;
}

ul{
  list-style: none;
}